.note.list .item > .note,
.article.markdown-body pre,
.article.markdown-body .image-container {
  margin-left: -20px;
  margin-right: -20px;
  border-radius: 5px;
}

.note.list .item > .note,
.article.markdown-body pre {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.article.markdown-body pre,
.article.markdown-body .image-container .img {
  border: 0;
  border-radius: 5px;
}

body {
  color: rgba(235, 235, 245, .95);
  background-color: #282C34;
}

mark {
  background-color: #282C34;
}

.note,
.site.name {
  color: rgba(235, 235, 245, .95);
}

.site.slogan .title,
.note.date,
.article.date,
.image-container .title,
.footer {
  color: rgba(235, 235, 245, .6);
}

.note.content,
.article.markdown-body {
  color: rgba(235, 235, 245, .85);
}

code,
kbd,
tt,
samp {
  color: #98c379;
}

a {
  color: #e5c07b;
}

.pagination ul li a {
  color: #D19A66;
  border-radius: 5px;
}

.pagination ul li a.active {
  background-color: #D19A66;
  border-radius: 5px;
}

.pagination ul li a:hover:not(.active) {
  background-color: rgba(130, 170, 255, .5);
  border-radius: 5px;
}

.tag {
  color: #e06c75;
}

.category {
  color: #D19A66;
}

.note.list .item a:hover,
.nav.item:hover,
.article.tag:hover,
.article.category:hover {
  background-color: #333A46;
}

/* border color */
pre,
.note.imgs .img,
.image-container .img,
.article.markdown-body table td,
.article.markdown-body table th,
.article.markdown-body .lntable {
  border-color: rgba(235, 235, 245,.1);
}

.article.markdown-body h1,
.article.markdown-body h2,
.image-container .title,
.site.slogan .title,
.note.list .item {
  border-bottom-color: rgba(235, 235, 245,.1);
}

.article.markdown-body blockquote {
  border-left-color: #3f86cf;
   background-color: rgba(63, 134, 207, .15);
}

.article.discussion {
  border-top-color: rgba(235, 235, 245,.1);
  border-bottom-color: rgba(235, 235, 245,.1);
}

.article.markdown-body .lntable tr>:first-child {
  border-right-color: rgba(235, 235, 245,.1);
}